*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    /* background-image: url(comp.jpg); */
    /* background-color: red; */
    /* background-position: center; */
    background-size: cover;
    margin: 0px auto;

}
.container{
    display: block;
    /* border: 1px solid white; */
    margin: 0px auto;
}
.sidebar{
    position: fixed;
    left: -200px;
    background-color: rgb(15, 15, 26);
    color: white;
    height: 100vh;
    width: 200px;
    z-index: 1;

}
.header{
    text-align: center;
    font-weight: 700;
    padding: 15px;
    background-color: rgb(34, 34, 65);
}
nav ul li{
    line-height: 65px;
    font-weight: 600;
    padding-left: 40px;
    border-top: 1px solid rgba(36, 34, 34, 0.651);
    border-bottom: 1px solid black;

}
nav ul li:hover {
    padding-left: 50px;
    font-size: larger;
    
    transition: 0.2s;
}

a {
    color: white;
}
#bars,#times {
    position: absolute;
    cursor: pointer;

}
#bars{
    left: 40px;
    top: 25px;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 5px 10px;
    border-radius: 10px;
}
 #times{
    left: 160px;
    font-size: 15px;
    top: 15px;
    color: rgb(226, 226, 240);
    background-color: black;
    padding: 3px 7px;
    border-radius: 5px; 
    /* z-index: 1; */
}
.open{
    left: 0;
    transition: 0.5s;
}
.close{
    left: -200px;
    transition: 0.4s;

}
section{
    width: 88%;
    margin: 0px auto;
    text-align: center;
    /* border: 1px solid white; */
    /* margin-top: 200px; */
    height: 100vh;
    
}
section h1{
    font-size: 85px;
    color: blanchedalmond;
    opacity: 0.7;
    padding-top: 200px;
}
section p{
    color: blanchedalmond;
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
}
input{
    margin-top: 50px;
    padding: 10px 100px;
    text-align: center;
    border-radius: 30px;
    border-color: blanchedalmond;
    opacity: 0.8;
}
button{
    margin-top: 15px;
    padding: 10px 50px;
    border-radius: 30px;
    border: 1px solid white;
    opacity: 0.8;
} 
button:hover{
    border-radius: 30px;
    border-color:rgb(24, 24, 88);
    background-color: rgb(47, 47, 88);
    color: aliceblue;
    opacity: 1;

}
#to{
    right: 0;
    top: 25px;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 5px 10px;
    border-radius: 10px;
}